---
import Layout from '../layouts/PageTemplate.astro';

import '../styles/css/policy.css';
---

<Layout>
	<div id="policy" class="md_contentUnit md_contentUnit--policy">
		<div class="unitTitle">
			<div class="titleSet">
				<div class="title">PRIVACY POLICY</div>
				<h2 class="rubi rubi--left">個人情報保護方針</h2>
			</div>
		</div>
		<div class="unitContent">
			<div class="contentArea">
				<div class="content">
					<p class="copy">株式会社XIN（以下、「当社」といいます）は、個人情報の重要性を認識し、個人情報の管理を事業運営上の重要事項と位置づけております。そこで、以下のとおり個人情報保護方針を定め、当社のビジネスに関わる取引先企業にも、本個人情報保護方針への理解と協力を求めていきます。</p>
					<div class="catch">1. 基本方針</div>
					<p class="copy">当社で業務に従事するすべての者は、個人情報が個人の重要な財産であることを認識し、個人情報を正確かつ安全に取り扱うことにより、お客様の情報を守り、その信頼に応えるよう努めます。</p>

					<div class="catch">2. 法令等の遵守</div>
					<p class="copy">当社は、個人情報を取り扱うにあたり、「個人情報の保護に関する法律」をはじめとする個人情報の保護に関する法令、ガイドラインおよび本個人情報保護方針を遵守します。</p>

					<div class="catch">3. 個人情報の適切な収集、利用、提供</div>
					<p class="copy">(1) 個人情報の収集、利用<br>
					個人情報の収集については適正かつ公正な手段により行います。当社が取得した個人情報は、利用目的を別途通知等する場合や法令により例外として扱うことが認められている場合を除き、次の利用目的の達成	に必要な範囲内で利用いたします。収集した個人情報の利用範囲はその目的内に限定し、適切に取り扱います。</p>

					<p class="copy">＜お客様並びに取引先様等の情報＞<br>
					（a）お客様・取引先様へ当社の商品・サービス提供に必要な情報を提供するため<br>
					（b）お客様・取引先様とのお取引や契約を円滑に履行するため<br>
					（c）当社がより良いサービスを提供するための調査・分析等のため<br>
					（d）いただいたお問い合わせやご連絡に回答するため</p>

					<p class="copy">＜当社役員・執行役員・従業員・退職者および採用候補者の情報＞<br>
					（a）労務管理・採用・広報など、当社の管理上必要な業務を遂行するため<br>
					（b）当社の管理上、必要な諸連絡を実施するため</p>

					<p class="copy">(2) 個人情報の管理<br>
					個人情報の管理責任者を定め、第三者への流出等がないよう、厳正な管理を行います。<br>
					また、第三者からの不正アクセスまたは紛失、破壊、改ざん、漏えい等の危険に対しては、適切かつ合理的なレベルの安全対策を実施し、個人情報の保護に努めます。<br>
					個人情報の取扱いを外部に委託する場合には、個人情報を適正に取り扱っていると認められる委託先（以下「業務委託先」）を選定し、委託契約等において、個人情報の管理、秘密保持、再委託の禁止等、必要	な事項を取り決めるとともに、適切な管理を実施させます。</p>

					<p class="copy">(3) 個人情報の提供<br>
					当社は、個人情報を原則としてご本人の同意なくして第三者に提供しません。但し、以下の場合はご本人の同意なく個人情報を提供することがあります。<br>
					（a）当社が業務の一部を委託し、業務委託先に対して利用目的の達成に必要な範囲で個人情報の取扱いの全部又は一部を委託することに伴って、当該個人情報を提供する場合<br>
					（b）法令に基づく場合<br>
					（c）国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそ	れがある場合<br>
					（d）人の生命、身体又は財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難な場合<br>
					（e）公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難である場合</p>

					<p class="copy">(4) 個人情報の開示等<br>
					当社は個人情報に関する個人の権利を尊重し、ご本人から個人情報の開示、訂正、削除等を求められたときは、必要な対応を行います。</p>

					<div class="catch">4. 安全対策の実施</div>
					<p class="copy">当社は、本個人情報保護方針に基づき、個人情報の保護に関する社内規定を整備し、当社の役員、従業員等に対して周知徹底させ、さらに実行状況に対する監査を行い、個人情報の保護に努め、継続的な改	善を行っていきます。</p>

					<div class="catch">5. 共同利用</div>
					<p class="copy">当社では、取り扱う個人情報を、株式会社エイジェックスカンパニーズ及びそのグループ会社（以下、「当グループ」といいます）間で共同利用することがあります。</p>

					<p class="copy">(1)共同して利用される個人情報の項目<br>
					（a）氏名、会社名、学校名、住所、電話番号、メールアドレス、その他特定の個人を識別できる情報<br>
					（b）上記のほか、その情報のみでは特定の個人を識別できないものの、他の情報との照合により特定の個人を識別できることとなる情報</p>

					<p class="copy">(2)共同して利用する者（共同利用者）の範囲<br>
					<a href="https://agex.co.jp/about/">株式会社エイジェックスカンパニーズ及びそのグループ会社</a></p>

					<p class="copy">(3)共同利用者の利用目的<br>
					＜お客様並びに取引先様等の情報＞<br>
					3. (1)に記載の内容と同様</p>

					<p class="copy">＜当グループの株主様の情報＞<br>
					（a）株主様に、当グループへのご出資に必要な情報を提供するため<br>
					（b）当グループにご出資いただいている株主様に対する各種施策実施のため<br>
					（c）会社法にもとづく権利の行使、義務の履行のため</p>

					<p class="copy">＜当グループが運営するビジネスアイデアコンテスト応募者様の情報＞<br>
					（a）コンテスト運営業務と、それに付随するご連絡や必要な手続きのため</p>

					<p class="copy">＜当グループ役員・執行役員・従業員・退職者および採用候補者の情報＞<br>
					3. (1)に記載の内容と同様</p>

					<p class="copy">(4)個人情報の管理責任者<br>
					<a href="https://xin.inc/">株式会社XIN</a></p>

					<div class="catch">6. 個人情報の保護方針の変更</div>
					<p class="copy">当社は、必要に応じて、本個人情報保護方針の全部または一部を変更する場合があります。本個人情報保護方針に関する最新の情報については、このページを確認いただきますようお願いします。</p>

					<div class="catch">7.当社へのお問合せ</div>
					<p class="copy">本個人情報保護方針に関するご質問や個人情報の開示等のお申し出につきましては、<a href="https://docs.google.com/forms/d/e/	1FAIpQLSc9PAF_5xHRThaarixQRJp6Z-ZazveZdzrS5J6rG4tBnqhBbA/viewform">こちら</a>からお問合せください。</p>
					<div class="end">
					改定日 2024年3月29日<br>
					制定日 2022年4月1日
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>