---
import { type CollectionEntry, getCollection, getEntryBySlug } from 'astro:content';
import { formatDate } from '../../assets/formatDate';

import Layout from '../../layouts/SimplePageTemplate.astro';

export async function getStaticPaths() {
	const posts = await getCollection('news');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'news'>;

const posts = (await getCollection('news')).sort(
								(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
							).map(news => {
								return({
									title: news.data.title,
									publishDate: formatDate(news.data.pubDate),
									slug: news.slug,
								})
							});
---

<Layout>
	<div class="contentArea">
			<div class="newsList">
				{
					posts.map((post) => (
						<div class="newsList_unit">
							<a href={`/news/${post.slug}/`}>
								<span class="newsDate">{post.publishDate}</span><span class="newsTitle">{post.title}</span>
							</a>
						</div>
					))
				}
			</div>
	</div>
</Layout>