---
import ServiceMethod from '../components/ServiceMethod.astro';

const { level } = Astro.props;
const cn = 'catchUnit';
---

<p class:list={[cn, { level2: level == 2, level3: level == 3 }]}>
  <slot />
</p>
