---
import Catch from '../components/Catch.astro';
import '../styles/css/contactInfo.css';

const { isRecruitLink = false } = Astro.props;
---

<aside class="unitContent contactInfo">
  <div class="moreArea">
    <Catch>
      経営ビジョンやパーパスの策定、事業成長や改善戦略、新サービス立ち上げなど、<br />
      ビジネスに関するさまざまなお悩みに、弊社デザインストラテジストが対応いたします。<br />
      どんなプロジェクトも、はじまりは人と人との出会いから。<br />
      まずはお話から、お気軽にお問い合わせください。
    </Catch>
    <div class="imgSet">
      <img src="/imageFile/works_more.png" alt="" class="moreImg">
    </div>
    { 
      isRecruitLink && 
      <div class="moreArea">
        <a href="/join-us" class="md_btn md_btn--big md_btn--contact">採用情報はこちらから</a>
      </div>
    }
    <div class="moreArea">
      <a href="/contact" class="md_btn md_btn--big md_btn--contact">ご相談はこちらから</a>
    </div>
  </div>
</aside>