---
const { title, rubi, isLeft } = Astro.props;
const titleClass = isLeft ? 'unitTitle unitTitle--left' : 'unitTitle unitTitle--right';

import '../styles/css/contentTitle.css';
---

<div class={titleClass}>
  <div class="titleSet">
    <div class="title">{title}</div>
    <h3 class="rubi">{rubi}</h3>
  </div>
</div>