---
const today = new Date();


import '../styles/css/footer.css';
---

<footer class="footer">
	<nav>
		<img src="/imageFile/groupCompany/XIN_logo2.png" alt="XIN" class="logoImg" >
		<ul>
			<li><a href="/">TOP</a></li>
			<li><a href="/service">SERVICE</a></li>
			<li><a href="/works">WORKS</a></li>
			<li><a href="/members">MEMBERS</a></li>
			<li><a href="/contact">CONTACT</a></li>
			<li><a href="/join-us">JOIN US</a></li>
			<li><a href="/company">COMPANY</a></li>
		</ul>
	</nav>
	<aside class="group">
		<p class="group_dec">株式会社XINは、世の中に新しい価値を生み出し続けるクリエイティブカンパニー「agexグループ」の一員です。</p>
		<ul class="group_list">
			<li>
				<a href="https://agex.co.jp/" target="_blank" class="company" id="agexGroup">
					<img src="/imageFile/groupCompany/agexGroup_logo.png" alt="agexGroup" class="logoImg">
				</a>
			</li>
			<li>
				<a href="https://agex-ds.com/" target="_blank" class="company" id="DS">
					<img src="/imageFile/groupCompany/DS_logo.png" alt="" class="logoImg">
				</a>
			</li>
			<li>
				<a href="https://sharing-kyoto.co.jp/" target="_blank" class="company" id="SK">
					<img src="/imageFile/groupCompany/SK_logo.png" alt="" class="logoImg">
				</a>
			</li>
			<li>
				<a href="https://www.fftech.co.jp/" target="_blank" class="company"  id="fft">
					<img src="/imageFile/groupCompany/fft_logo.png" alt="" class="logoImg">
				</a>
			</li>
		</ul>
	</aside>
	<address class="copyright">©XIN&nbsp;inc.</address>
</footer>