---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import xinLogo from '../assets/XIN_logo.svg';

const { isTop = false } = Astro.props;
---

<!-- md_header--top -->
<header class:list={['md_header', {'md_header--top': isTop}]}>
	<h1 class="logo">
		<a href="/" class:list={['header--logo', { 'isSmall': !isTop, 'isTop': isTop }]}></a>
	</h1>
</header>
<!-- /md_header--top -->

<!-- md_header--bottom -->
<header id="header" class="md_header md_header--bottom">
	<nav class="nav">
		<ul class="md_tab">
			<li class="tab"><a href="/" class="md_btn">TOP</a></li>
			<li class="tab"><a href="/service" class="md_btn">SERVICE</a></li>
			<li class="tab"><a href="/works" class="md_btn">WORKS</a></li>
			<li class="tab"><a href="/members" class="md_btn">MEMBERS</a></li>
			<li class="tab"><a href="/contact" class="md_btn">CONTACT</a></li>
			<li class="tab"><a href="/join-us" class="md_btn">JOIN US</a></li>
			<li class="tab"><a href="/company" class="md_btn">COMPANY</a></li>
		</ul>
	</nav>
	<button class="md_btn md_btn--menu md_linkPart js_drawerOpen" data-drawer="md_drawer--menu">
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
</header>
<!-- /md_header--bottom -->

<!-- Menu -->
<div class="md_drawer md_drawer--menu">
	<span class="bgLayer md_linkPart js_drawerX"></span>
	<div class="base">
		<div class="logo"><span class="logoImg md_linkPart js_drawerX"></span></div>
		<ul class="md_list md_list--bg">
			<li class="row"><a href="/" class="list"><span class="txtCell">TOP</span></a></li>
			<li class="row"><a href="/service" class="list"><span class="txtCell">SERVICE</span></a></li>
			<li class="row"><a href="/works" class="list"><span class="txtCell">WORKS</span></a></li>
			<li class="row"><a href="/members" class="list"><span class="txtCell">MEMBERS</span></a></li>
			<li class="row"><a href="/contact" class="list"><span class="txtCell">CONTACT</span></a></li>
			<li class="row"><a href="/join-us" class="list"><span class="txtCell">JOIN US</span></a></li>
			<li class="row"><a href="/company" class="list"><span class="txtCell">COMPANY</span></a></li>
		</ul>
		<button class="closeLink md_linkPart js_drawerX"></button>
	</div>
</div>
<!-- /Menu -->

<div class="md_floatMenu md_floatMenu--left">
	<div class="catch">株式会社XIN（サイン）</div>
</div>

<div class="md_floatMenu md_floatMenu--right">
	<div class="catch">Innovation Design Firm</div>
</div>

<style>

</style>
