---
import { Members } from '../content/Members.js';
import MemberModal from '../components/MemberModal.astro';

import '../styles/css/modal.css';
---

<div class="memberModal md_modal md_modal--member" id="memberModal">
  <span class="bgLayer md_linkPart js_modalX" id="memberModalClose"></span>
  <div class="md_card md_card--modalBase">
    <span class="closeLink md_linkPart js_modalX" id="memberModalCloseBtn"></span>
    <div class="modalBaseWrap">
			<div class="bgArea">
				<img src="/imageFile/modal_bg.svg" alt="" class="bgImg">
			</div>
      {
        Members.map(member => (
        <MemberModal member={member} />
        )
      )}
    </div>
  </div>
</div>

<script>
  import { isMemberModalOpen } from '../store/index.js';

  const bodyWrap = document.querySelector('.bodyWrap');
  let scrollPos;

  // モーダルの表示/非表示
  isMemberModalOpen.subscribe(open => {
    if (open) {
      scrollPos = window.scrollY;
      bodyWrap.classList.add('body_fixed');
      bodyWrap.style.top = scrollPos * (-1);
      document.getElementById(`memberModal`).classList.add('md_modal--show');
    } else {
      bodyWrap.classList.remove('body_fixed');
      document.documentElement.scrollTop = scrollPos;
      bodyWrap.style.top = 0;
      document.getElementById(`memberModal`).classList.remove('md_modal--show');
    }
  });

  document.querySelector('#memberModalClose').addEventListener('click', () => {
    isMemberModalOpen.set(false);
  });
  document.querySelector('#memberModalCloseBtn').addEventListener('click', () => {
    console.log('close click');
    isMemberModalOpen.set(false);
  });
</script>