---
import { Members } from '../content/Members.js';
import MemberList from '../components/MemberList.astro';

const memberSetClass = 'memberSet js_slick hidden';

---

<div class:list={['memberWrap', 'js_slick']}>
  {
    Members.map(member => (
    <MemberList key={member.key} name={member.name} isTop={true} data-member-unit />
    )
  )}
</div>