---
import Layout from './PageTemplate.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

import '../styles/css/news.css';
---

<Layout title="news" description="" isTop={false} isFixed={false}>
	<div id="news" class="md_contentUnit md_contentUnit--news">
		<div class="unitTitle">
			<div class="titleSet">
				<div class="title">NEWS</div>
				<h2 class="rubi rubi--left">お知らせ</h2>
			</div>
		</div>
		<div class="unitContent">
			<slot />
		</div>
  </div>
</Layout>
