@charset "utf-8";

/*----------------------------------------
 Import
----------------------------------------*/

@import '_reset';
@import '_variable';
@import '_default';

/*----------------------------------------
 contact
----------------------------------------*/
.contactForm {
  padding: 120px 180px;
  margin: 50px 60px;
  width: 100%;
  background-color: #FFF;
  &_buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px 0;
  }
  // For SP
  @media only screen and (max-width: $w_break_sp) {
    padding: 20px;
    margin: 20px 0;
    &:first-child {
      margin-top: 0;
    }
    &_buttons {
      margin-top: 50px;
    }
  }
}
.contactFormUnit {
  margin: 25px 0 0;
  width: 100%;
  &_label {
    font-size: 16px;
    font-weight: bold;
  }
  &_inputArea {
    padding: 15px 0 40px;
  }
  &_inputConfirm {
    display: none;
    font-size: 16px;
    padding: 15px 40px 40px;
  }
  &_radios {
    display: flex;
    gap: 10px;
  }
  // For SP
  @media only screen and (max-width: $w_break_sp) {
    &_label {
      font-size: 14px;
    }
    &_inputArea {
      padding: 15px 0 20px;
    }
    &_radios {
      flex-flow: column;
    }
  }
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"] {
  background-color: #F3F3F3;
  border: 1px solid #eaeaea;
  font-size: 16px;
  padding: 5px 10px;
  width: 100%;
}
textarea {
  height: 6em;
}