@charset "utf-8";

/*----------------------------------------
 Import
----------------------------------------*/

@import '_reset';
@import '_variable';
@import '_default';

/*----------------------------------------
 contact
----------------------------------------*/
.contactForm {
  box-sizing: border-box;
  padding: 120px 180px;
  margin: 50px auto;
  width: 100%;
  background-color: #FFF;
  &_buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px 0;
  }
  &_step,
  &_step2 {
    margin: 0 0 120px;
    text-align: center;
    img {
      width: 498px;
    }
  }
  // For SP
  @media only screen and (max-width: $w_break_sp) {
    padding: 20px;
    margin: 20px 0;
    &:first-child {
      margin-top: 0;
    }
    &_buttons {
      margin-top: 50px;
    }
  }
}
.contactFormUnit {
  font-size: 16px;
  margin: 10px 0 0;
  width: 100%;
  &_label {
    font-size: 16px;
    font-weight: bold;
  }
  &_inputArea {
    padding: 15px 0 40px;
  }
  &_inputConfirm {
    display: none;
    font-size: 16px;
    padding: 15px 40px 40px;
  }
  &_radios {
    display: flex;
    gap: 20px;
    label {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 5px;
      font-size: 16px;
    }
  }
  // For SP
  @media only screen and (max-width: $w_break_sp) {
    font-size: 14px;
    &_label {
      font-size: 14px;
    }
    &_inputArea {
      padding: 15px 0 20px;
    }
    &_radios {
      flex-flow: column;
      label {
        font-size: 14px;
      }
    }
  }
}

.contact--step1 {
  .contactForm_step2,
  .contactFormUnit_inputConfirm,
  #contactSubmit {
    display: none;
  }
}
.contact--step2 {
  .contactForm_step,
  .contactFormUnit_inputArea,
  #contactConfirm {
    display: none;
  }
}



textarea,
input[type="text"],
input[type="email"],
input[type="tel"] {
  background-color: #F3F3F3;
  border: 1px solid #eaeaea;
  font-size: 16px;
  padding: 5px 10px;
  width: 100%;
}
textarea {
  height: 6em;
}
input[type="radio"] {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  background-color: #F3F3F3;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    transition: all 200ms;
  }
  &:checked {
    &::before {
      background-color: rgba(0,0,0,1);
    }
  }
}
input[type="checkbox"] {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  background-color: #F3F3F3;
  border: 1px solid #eaeaea;
  border-radius: 0;
  position: relative;
  &::before {
    content: "check";
    font-family: 'Material Symbols Rounded';
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 200ms;
    color: #eaeaea;
  }
  &:checked {
    background-color: #000;
    &::before {
      color: #fff;
    }
  }
}