@charset "utf-8";

/*----------------------------------------
 Import
----------------------------------------*/

@import '_reset';
@import '_variable';
@import '_default';

/*----------------------------------------
 Member
----------------------------------------*/

.memberWrap {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 60px 0;
  // For SP
	@media only screen and (max-width: $w_break_sp) { 
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
  }
}

@import 'memberUnit';

.moreArea {
  .md_btn--big {
    width: 420px;
    // For SP
    @media only screen and (max-width: $w_break_sp) {
      width: 100%;
    }
  }
}