@charset "utf-8";

/*----------------------------------------
 Import
----------------------------------------*/

@import '_reset';
@import '_variable';
@import '_default';

/*----------------------------------------
 Service
----------------------------------------*/

.serviceUnitWrap {
  margin: 60px 0 0;
  padding: 0 0;
}

.serviceSectionUnit {
  margin: 60px 0 0;
  padding: 0 60px;
  &.partnerSection {
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -85%; left: 50%; 
      z-index: -1;
      width: 100vw; height: 190%; background: url(/imageFile/service/bg_partner.svg) no-repeat center;
      background-size: contain; transform: translateX(-50%);
    }
  }
  &_title {
    font-size: clamp(24px,2.5vw,30px);
    font-weight: bold;
    letter-spacing: $ls_small;
    text-align: center;
  }
  .catchUnit {
    text-align: center;
  }
  &_bigCatch {
    font-size: clamp(32px,3vw,44px);
    font-weight: bold;
    line-height: $lh_medium;
    margin-top: 20px;
    .partnerSection & { text-align: center; }
  }
  &_catch {
    font-size: clamp(16px,3vw,24px);
    line-height: $lh_small;
    margin-top: 20px;
    white-space: nowrap;
    .partnerSection & { text-align: center; }
  }
  &_copy {
    font-size: 16px;
    line-height: $lh_small;
    letter-spacing: $ls_small;
    margin-top: 20px;
    .partnerSection & { text-align: center; }
  }
  & + .serviceSubUnit { margin-top: 200px; }

  // For SP
	@media only screen and (max-width: $w_break_sp) {
    padding: 0;
    &_title {
      font-size: 20px;
    }
    &_bigCatch {
      font-size: 24px;
    }
    &_catch {
      font-size: 16px;
    }
    &_copy {
      font-size: 14px;
    }
  }
}

.serviceDesignUnit {
  margin: 60px 0 0;
  padding: 0;
  &_title {
    background-color: #000;
    color: #FFF;
    display: inline-block;
    font-size: clamp(16px,2.5vw,24px);
    font-weight: bold;
    letter-spacing: $ls_small;
    line-height: $lh_medium;
    padding: 0 10px;
  }
  &_rubi {
    font-size: clamp(32px,3vw,44px);
    font-weight: bold;
    line-height: $lh_small;
    margin-top: 20px;
    white-space: nowrap;
  }
  &_copy {
    font-size: 16px;
    line-height: $lh_medium;
    letter-spacing: $ls_small;
    margin-top: 20px;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    &_title {
      font-size: 14px;
      padding: 0 5px;
    }
    &_rubi {
      font-size: 24px;
    }
    &_copy {
      font-size: 16px;
      text-align: justify;
      br {
        display: none;
      }
    }
    .catchUnit {
      font-size: 20px;
      text-align: justify;
      br {
        display: none;
      }
    }
  }
}

.serviceFlow {
  margin: 80px 0 0;
  padding: 0 0 200px;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -60%; left: 50%; 
    z-index: -1;
    width: 170vw; height: 190%; background: url(/imageFile/service/bg_flow_.svg) no-repeat center;
    background-size: contain; transform: translateX(-50%);
  }
  &_img {
    width: 100%;
  }
  &_elem {
    position: absolute;
    top: 55%;
    width: 40%;
    &.experience {
      left: 5.25%;
    }
    &.product {
      right: 5.75%;
    }
  }
  &_elemTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
    span {
      background-color: #000;
      color: #FFF;
      font-weight: bold;
      letter-spacing: $ls_small;
      line-height: $lh_medium;
      padding: 0 10px;
    }
  }
  &_elemRubi {
    display: flex;
    font-size: clamp(32px,3vw,44px);
    font-weight: bold;
    justify-content: center;
    margin-top: 15px;
    letter-spacing: $ls_small;
    text-align: center;
  }
  &_elemDec {
    line-height: $lh_small;
    margin-top: 15px;
    text-align: center;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    &_elem {
      display: none;
    }
  }
}

.serviceUnit {
  margin: 80px 0 0;
  position: relative;
  &_title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: $ls_small;
    line-height: $lh_medium;
  }
  &_description {
    font-size: 16px;
    letter-spacing: $ls_small;
    line-height: $lh_small;
    margin-top: 10px;
    padding: 0 40px;
    &.isRight { text-align: right; }
  }
  &_methods {
    display: grid;
    gap: 8%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 120px 0 0;
    width: 100%;
    padding: 0 0 100px;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -130px; left: -15%; 
      z-index: -1;
      width: 120%; height: 120%; background: url(/imageFile/service/bg_method_1.svg) no-repeat center;
      background-size: contain;
      transform: scale(.9);
    }
  }
  &:nth-child(2n) {
    .serviceUnit_methods {
      &:before {
        left: -10%; 
        width: 120%; height: 120%;
        background-image: url(/imageFile/service/bg_method_2.svg);
      }
    }
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    padding: 0;
    &_title {
      font-size: 20px;
    }
    &_description {
      font-size: 14px;
      padding: 0;
    }
    &_methods {
      gap: 20px;
      grid-template-columns: 1fr;
      margin: 50px 0 0;
      padding: 0;
    }
  }
}

.methodUnit {
  &_title {
    display: flex;
    align-items: end;
    font-size: clamp(16px,2.5vw,24px);
    font-weight: bold;
    height: 120px;
  }
  &_description {
    font-size: clamp(14px,2.5vw,16px);
    line-height: 1.6;
    text-align: justify;
    padding: 30px 0 40px;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    &_title {
      font-size: 14px;
      height: auto;
    }
    &_description {
      font-size: 12px;
      padding: 20px 0 40px;
    }
  }
}


.serviceSubUnit {
  margin: 60px 0 0;
  padding: 0 0;
  &_title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: $ls_small;
    line-height: $lh_medium;
  }
  &_wrap {
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 150px 30px 0;
    position: relative;
  }
  &_wrap2 {
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr;
    margin: 150px 30px 0;
    position: relative;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    &_title {
      font-size: 16px;
    }
    &_wrap,
    &_wrap2 {
      gap: 40px;
      grid-template-columns: 1fr;
      margin: 50px 0 0;
    }
  }
}
.teamUnit {
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -130px; left: -40%; 
    z-index: -1;
    width: 170%; height: 170%; background: url(/imageFile/service/bg_project1.svg) no-repeat center;
    background-size: contain;
  }
  &:nth-child(2) {
    &:before {
      left: -25%; 
      width: 150%; height: 150%;
      background-image: url(/imageFile/service/bg_project2.svg);
    }
  }
  &:nth-child(3) {
    &:before {
      left: -30%; 
      width: 160%; height: 160%;
      background-image: url(/imageFile/service/bg_project3.svg);
    }
  }
  &_title {
    font-size: clamp(16px,2.5vw,24px);
    font-weight: bold;
  }
  &_description {
    font-size: clamp(14px,2.5vw,16px);
    line-height: 1.6;
    line-height: 1.6;
    text-align: justify;
    padding: 20px 0 40px;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    &_title {
      font-size: 16px;
    }
    &_description {
      font-size: 14px;
      padding: 10px 0 20px;
    }
  }
}

.assignUnit {
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -130px; left: -40%; 
    z-index: -1;
    width: 170%; height: 170%; background: url(/imageFile/service/bg_assign1.svg) no-repeat center;
    background-size: contain;
  }
  &:nth-child(2) {
    &:before {
      left: -25%; 
      width: 150%; height: 150%;
      background-image: url(/imageFile/service/bg_assign2.svg);
    }
  }
  &_title {
    font-size: clamp(16px,2.5vw,24px);
    font-weight: bold;
  }
  &_description {
    font-size: clamp(14px,2.5vw,16px);
    line-height: 1.6;
    line-height: 1.6;
    text-align: justify;
    padding: 20px 0 40px;
  }
  &_problem {
    margin-top: 50px;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    &_title {
      font-size: 16px;
    }
    &_description {
      font-size: 14px;
      padding: 10px 0 20px;
    }
    &_problem {
      margin-top: 20px;
    }
  }
}

.problemUnit {
  &_label { font-weight: bold; }
  &_problems {
    width: 50%;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: clamp(14px,2.5vw,16px);
      margin-top: 20px;
      &::before {
        content: '';
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url(/imageFile/service/icon_problem.svg) no-repeat left center;
        background-size: contain;
      }
    }
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    &_label { font-size: 14px; }
    &_problems {
      width: 100%;
      li {
        font-size: 12px;
        margin-top: 10px;
        &::before {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.trialUnit {
  margin: 60px 0 0;
  padding: 0 60px;
  &_title {
    font-size: clamp(32px,3vw,44px);
    font-weight: bold;
    line-height: $lh_small;
    white-space: nowrap;
    text-align: center;
  }
  &_wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 0;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    padding: 0;
    &_title {
      font-size: 20px;
    }
    &_wrap {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
    }
  }
}
.trialElement {
  background-color: #fff;
  padding: 20px;
  &_title {
    font-size: clamp(16px,2.5vw,24px);
    font-weight: bold;
    letter-spacing: $ls_small;
    line-height: $lh_small;
    text-align: center;
    .material-symbols-rounded {
      font-size: 40px;
      display: block;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  &_dec {
    font-size: 14px;
    margin-top: 20px;
  }
  // For SP
	@media only screen and (max-width: $w_break_sp) {
    padding: 10px;
    &_title {
      font-size: 14px;
    }
    &_dec {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}